#calendar {
    & .header {
        text-align: center;
        margin: 0;
        padding: 2rem;
        font-size: 2rem;
        position: relative;

        & .previous, .next {
            position: absolute;
            padding: 1rem;
            cursor:pointer;
            top: 2.7rem;
        }
        & .previous {
            left: 2rem;
        }
        & .next {
            right: 2rem;
        }
    }
    & .calendar-grid {
        margin: 0;
        padding: 0;

        & li {
            display: inline-grid;
            margin: 0;
            padding: 0;
            width: 14.285714285714285714285714285714%;
            text-align: center;  
            border-radius: 3px;  
            
            & div {
                padding: 1rem;
            }       
        }
    }
    & #calendar-days {
        & li {
            padding: 1rem;
        }
    }

    & #calendar-dates {
        border: 0 solid $black;
        border-width: 0 0 1px 1px;
        border-radius: 3px;  

        & li {
            border: 0 solid $black;
            border-width: 1px 1px 0 0;
            border-radius: 3px; 
            height: 110px; 

            & div {
                height: 100%;

                & p {
                    margin: 0;
                    padding: 0;

                    & input[type="text"] {
                        width: 100%;
                    }
                }
                &.enabled {
                    cursor: pointer;
                }
                &.today {
                    background-color: $primary-blue;
                    color: $white;
                }
                &.disabled {
                    color: lighten($black, 50%)
                }
            }
        }
    }
}
