#calendar {
    & .header {
        text-align: center;
        margin: 0;
        padding: 2rem;
        font-size: 2rem;
    }
    & .calendar-grid {
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 14.285714285714285714285714285714%;
            text-align: center;  
            border-radius: 3px;  
            
            & div {
                padding: 1rem;
            }       
        }
    }
    & #calendar-days {
        & li {
            padding: 1rem;
        }
    }

    & #calendar-dates {
        border: 0 solid $black;
        border-width: 0 0 1px 1px;

        & li {
            border: 0 solid $black;
            border-width: 1px 1px 0 0;

            & p {
                margin: 0;
                padding: 0;
            }
            & .enabled {
                cursor: pointer;
            }
            & .today {
                background-color: $primary-blue;
                color: $white;
            }
            & .disabled {
                color: lighten($black, 50%)
            }
        }
    }
}
